<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Image</label>
    <input type="file" name="cover" class="book-cover filepond">
  </div>
 
</div>

<div class="form-row">
<div class="form-item">
  <label>Group</label>
  <select name="author">
    <% authors.forEach(author => { %>
      <% if (author.id === book.author) { %>
        <option selected label="<%= author.name %>" value="<%= author.id %>">
      <% } else { %>
        <option label="<%= author.name %>" value="<%= author.id %>">
      <% } %>
    <% }) %>
  </select>
</div>
<div class="form-item">
    <label>Name</label>
    <input type="text" name="name" value="<%= book.name %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Registration Number</label>
    <input type="number" name="title" value="<%= book.title %>">
  </div>

  <div class="form-item">
    <label>Timing</label>
    <input type="text" name="timing" value="<%= book.timing %> ">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Joining Date</label>
    <input type="date" name="publishDate"
          value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label>Gender</label>
    <input type="text" name="pageCount" value="<%= book.pageCount %> ">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Phone Number</label>
    <input type="number" name="phoneNumber" min="1" value="<%= book.phoneNumber %>">
  </div>
  <div class="form-item">
    <label>Email Address</label>
    <input type="text" name="emailAddress" value="<%= book.emailAddress %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Qualification</label>
    <input type="text" name="qualiFication" value="<%= book.qualiFication %>">
  </div>
  <div class="form-item">
    <label>Adhaar/PAN Number</label>
    <input type="number" name="apNumber"  min="1" value="<%= book.apNumber %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Fee Day</label>
    <input type="text" name="feeDay" value="<%= book.feeDay %>">
  </div>
  <div class="form-item">
    <label>Address</label>
    <textarea name="description"><%= book.description %></textarea>
  </div>
</div>


