<h2 class="page-header">Search Master</h2>
<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Registration Number</label>
      <input type="number" name="title" value="<%= searchOptions.title %>">
    </div>

    <div class="form-item">
      <label>Fee Day</label>
      <input type="text" name="feeDay" value="<%= searchOptions.feeDay %>">
    </div>
    
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Joined After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div class="form-item">
      <label>Joined Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/bookGrid', { books: books, large: true }) %>